button{
    background-color: #dc6543;
    font-weight: 700;
    font-size: larger;
    color: white;
    width:160px;
    height: 60px;
    margin: auto 10px;
    border-style: none;
}
button:hover{
    background-color: #f04212;
}
button:active{
    background-color: #a84529;
}

section#Principal{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
section#Estadisticas_perso{
    display: flex;
    justify-content: space-evenly;
    margin:150px 0 0 0;
}
section#Boton_jugar{
    text-align: center;
}
section#Estadisticas_perso div h2#Titulo_inv{
    color: white;
}
section#Estadisticas_perso div#Puntos h4:hover{
    background-color: #d49b8b;
}
section#Estadisticas_perso div#Puntos_estadisticas h4:hover{
    background-color: #d49b8b;
}
section{
    margin: 150px 0 0 0;
}

section#Boton_jugar{
    margin: 73px 0;
}