section#LOGO{
    text-align: left;
    background-color: #eadbd4;
}
div#Flexi{
    display:flex;
    flex-direction: column;
    row-gap: 40px;
}
img#Logo{
    margin-left: 20px;
    margin-top: 20px;
}
section{
    text-align: center;
}
h1#Titulo{
    margin: 0 auto;
    color: #dc6543;
}
section.sec_medias h4.Mensajes{
    color: #0B0706;
    padding: 15px 0;
    margin: 15px;
    font-weight: 900;
    font-size: 25px;
}
section.sec_medias button{
    background-color: #dc6543;
    border-style: none;
    height: 100%;
}
section#Botones a button{
    height: 65px;
    background-color: #dc6543;
    font-weight: 700;
    font-size: larger;
    color: white;
    width:180px;
    height: 60px;
    margin: 55px 10px;
    border-style: none;
}
input{
    margin: 15px;
    height: 50px;
    width: 180px;
}
#imagen{
    margin-top: 20px;
}
