.flex-container{
    display: flex;
        text-align: center;
    justify-content: space-around;
}
.textoinput{
    text-align: center;
}

.containerBox{
    text-align: center;
    margin-top: 0vh;
    margin-left: 25%;
}
