.flex-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.textoinput{
    text-align: center;
    height: 50px;
    width: 180px;
}

.containerBox{
    text-align: center;
    margin-top: 0vh;
    margin-left: 25%;
}

section.sec_medias a button{
    background-color: #dc6543;
    font-weight: 700;
    font-size: larger;
    color: white;
    width:180px;
    height: 60px;
    margin: 55px 10px;
    border-style: none;
}
div.container div.flex-container div h4.Mensajes{
    color: #0B0706;
    padding: 15px 0;
    margin: 15px;
    font-weight: 900;
    font-size: 25px;
}